.country-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    border-radius: 0.5rem;
}
.header-text{
    text-align: center;
    font-size: 3rem;
    padding: 5px;
    background: linear-gradient(180deg, #e91293 20%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media (min-width: 556px) and (max-width: 996px) {
    .country-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 0.7rem;
    }
    .img-height{
        height: 10rem;
    }
  }
  @media (max-width: 556px){
    .country-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 0.5rem;
    }
    .img-height{
        height: 8rem;
    }
  }