.country-container{
    background-color: #778899;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    border-radius: 0.5rem;
}
@media (min-width: 556px) and (max-width: 996px) {
    .country-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 0.7rem;
    }
    .img-height{
        height: 7rem;
    }
  }
  @media (max-width: 556px){
    .country-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 0.5rem;
    }
    .img-height{
        height: 5rem;
    }
  }